@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    display: none;
  }
}

.fade-in-section {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

@keyframes floating {
  0% { transform: translateY(0px);}
  50% { transform: translateY(-25px); }
  100% { transform: translateY(0px); }
}

.float_arrow {
  animation: floating 1.5s ease-in-out infinite;
}
