@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blink {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

.hover-blink {
  animation: blink 1s steps(1) infinite;
}
